
body {
    background-color: #ffffff; 
    color: #333333; 
    font-family: "Overpass", sans-serif;
    margin: 20px;
}


h2 {
    color: #333333; 
    font-weight: 600;
}


details {
    margin-bottom: 10px;
}

summary {
    cursor: pointer;
    background-color: #ffffff; 
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    transition: background-color 0.3s;
    font-weight: 600;

}

summary:hover {
    background-color: #f6f6f6; 
}

summary:active {
    background-color: #Ffffff; 
}

p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
}


ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
    color: #333333;
}


details[open] summary {
    background-color: #ffffff; 
    color: #333333;
}
.highlight{
    color:#FF5A56;
    font-style: italic;
}

