
body {
    background-color: #000000; 
    color: #334155; 
    font-family: "Manrope";
    margin: 20px;
}


h2 {
    color: #334155; 
    font-size: 12px;
    font-weight: 200;
}


details {
    margin-bottom: 10px;
}

summary {
    cursor: pointer;
    background-color: #F1F5F9; 
    padding: 10px;
    font-size: 12px;
    border-radius: 16px;
    transition: background-color 0.1s;
    font-weight: 400;

}

summary:hover {
    background-color: #F1F5F9; 
}

summary:active {
    background-color: #F1F5F9; 
}

p {
    margin: 5px 0;
    font-size: 12px;
    line-height: 1.5;
    color: #334155;
}


ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
    color: #334155;
}


details[open] summary {
    background-color: #F1F5F9; 
    color: #334155;
}
.highlight{
    color:#FF5A56;
    font-style: italic;
}







